html {
  background: FFF;
}


.App {
  text-align: center;
}


.dash-cotainer {
  -webkit-box-shadow: 9px 7px 25px 0px rgba(87,87,87,1);
  -moz-box-shadow: 9px 7px 25px 0px rgba(87,87,87,1);
  box-shadow: 9px 7px 25px 0px rgba(87,87,87,1);
  width: 60%;
  height: auto;
  margin: auto;
  background: #FFF;
  color: #000;
}

.flexcontainer {
  display: flex;
  align-items: center;
}

.topic-window {
  width: 30%;
  height: 500px;
  border-right: 1px solid #000;
  margin-bottom: 50px;
  padding: 20px;
}

.chat-window {
  width: 70%;
  height: 500px;
}

button {
  width: 5%;
}
